<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div ngbDropdown class="btn-group">
      <button type="button" id="dropdown" data-toggle="dropdown" class="btn btn-primary" ngbDropdownToggle>Manage Recipe
        <span class="caret"></span></button>
      <div ngbDropdownMenu aria-labelledby="dropdown">
        <a ngbDropdownItem style="cursor: pointer;" (click)="onAddtoShopping()">To shopping List</a>
        <a ngbDropdownItem [routerLink]="['edit']" (click)="onEdit()">Edit Recipe</a>
        <a ngbDropdownItem (click)="onDelete()">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>{{recipe.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} -- {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
