<app-header ></app-header>
<div class="container" style="margin-top: 60px;">
  <div class="row">
    <div class="col-12 my-3">
      <router-outlet></router-outlet>
      <!-- <app-receipes *ngIf="showRecipe"></app-receipes> -->
      <!-- <app-shopping-list *ngIf="showShopping"></app-shopping-list> -->

      <!-- <app-appl></app-appl> -->
    </div>
  </div>
</div>
<!-- 
      <ul>
        <li role="presentation" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/recipes']">Recipes</a></li>
        <li role="presentation" routerLinkActive="router-link-active">
          <a [routerLink]="['/shoppingList']">shopping List</a></li>
      </ul> -->
